.project_card{

    .card{
        background-color: transparent !important;
        border-color: rgba(255, 255, 255, 0.425) !important;
        border-radius: 15px !important;
        padding: 2vh 1vw !important;
        transition: border 0.5s ease-in-out;
        // height: 25vh;
        p{
            margin: 0;
            font-size: 14px !important;
        }
        &:hover{
            border-color: rgb(255, 255, 255) !important;
    
        }
    }
}
// @media only screen and (min-width: 1024px) {
//     .project_card{

//         .card{
//         height:35vh;

//         }}

// }
