@font-face {
    font-family: 'mario'; 
    src: url('../../../../../public/fonts/SuperMario256.ttf') format('truetype'); 
  }
  // @font-face {
  //   font-family: 'supermario'; 
  //   src: url('./../../../fonts/SuperMario64.ttf') format('truetype'); 
  // }

$font_mario : 'mario';
$font_supermario : 'supermario';
$font_inria: 'Inria Serif', serif;
$LetterColorBlue:#0bb7fb;
$LetterColorYellow:#FBD001;
$LetterColorRed:#E62311;
$LetterColorGreen:#43AF35;
$colors:  $LetterColorBlue, $LetterColorYellow, $LetterColorRed, $LetterColorGreen;
  
